<p>test-services works!</p>

<div class="d-grid gap-3 pd-1">
  <button type="button" class="btn btn-primary btn-lg" (click)="crear()">crear</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="editar()">editar</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="borrar()">borrar</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="buscarTodos()">buscar_todos</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="buscarUno()">buscar_uno</button>
</div>
