<div class="container-lg mb-4 mt-3">
    <div class="mb-3 align-items-center ms-1 d-flex justify-content-between">
        <h1>Gestion de Niveles</h1>
        <button class="btn btn-secondary" (click)="nuevoNivel()">+ Añadir Nivel</button>
    </div>

    <div class="border border-secundary rounded shadow-sm mb-3">
        <div class="input-group p-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="nombreNivel" placeholder="Buscar niveles por nombre..." aria-describedby="basic-addon1" (keyup.enter)="buscar()">
        </div>
    </div>

    <div class="table-responsive border rounded border-secundary p-4 shadow-sm">
        <table class="table table-hover caption-top align-middle">
            <caption class="titulo-tabla"><h4>Lista de niveles</h4></caption>
            <thead class="table-header">
                <tr>
                    <td>Nivel</td>
                    <td>Dificultad</td>
                    <td class="text-center">Grupos</td>
                    <td class="text-center">Tarifa</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody class="table-body">
                @for (nivel of nivelesRes; track $index) {
                    <tr>
                        <td>{{nivel.nombrenivel}}</td>
                        <td>{{nivel.condicion}}</td>
                        <td class="text-center"><span class="fw-bold">{{getGrupoPorNivel(nivel)}}</span></td>
                        <td class="text-center" style="width: 135px;">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="badge-mes">Mensual</span>
                                <span class="fw-bolder fs-5 text-success">{{nivel.preciomensualidad}} €</span>
                            </div>
                            <div class="mt-1" style="font-size: smaller;">
                                <span class="text-muted me-1">Bonos: </span><span class="text-success fw-bold">{{nivel.preciobonos}}€/clase</span><br>
                                <span class="text-muted me-1">Clases: </span><span class="text-success fw-bold">{{nivel.precioclases}}€/clase</span>
                            </div>
                        </td>
                        <td style="position: relative;">
                            <div class="dropdown">
                                <button class="btn-despliegue fw-bold" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-ligth ms-1">
                                    <li>
                                        <button class="dropdown-item button btn-editar me-2" (click)="editarNivel(nivel)">
                                            <i class="bi bi-pencil-square"></i>
                                            Editar
                                        </button>
                                    <li>
                                        <button class="dropdown-item button btn-eliminar" (click)="eliminarNivel(nivel)">
                                            <i class="bi bi-trash3"></i>
                                            Eliminar
                                        </button>
                                    </li> 
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

