<header class="header bg-success pt-4 pb-4">
    <div class="left-section">
        <h2 class="text-light">Sadhana de Yoga</h2>
        @if (this.rol === 'ADMIN') {
            <nav class="nav-buttons">
                <button class="nav-link" [routerLink]="['/home']">Home</button>
                <button class="nav-link" [routerLink]="['/home/alumnos']">Alumnos</button>
                <button class="nav-link" [routerLink]="['/home/grupos']">Grupos</button>
                <button class="nav-link" [routerLink]="['/home/niveles']">Niveles</button>
                <button class="nav-link" [routerLink]="['/home/gastos']">Gastos</button>
                <button class="nav-link" [routerLink]="['/home/recibos']">Recibos</button>
            </nav>
        }
    </div>
    <div class="right-section">
      <button class="logout-button" (click)="logout()"><i class="bi bi-box-arrow-right"></i>  Cerrar sesión</button>
    </div>
</header>