.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(21, 96, 50), rgb(51, 150, 83));
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 1.8rem;
  color: #333;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
    max-width: 10%;
}

.nav-buttons {
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #e6f7ff;
  color: #007acc;
}

.logout-button {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border: none;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
  color: white;
}

