<div class="container-lg mb-4 mt-3">
    <div class="mb-3 align-items-center ms-1 d-flex justify-content-between">
        <h1>Gestion de Alumnos</h1>
        <button class="btn btn-secondary" (click)="nuevoAlumno()">+ Añadir Alumno</button>
    </div>

    <div class="border border-secundary rounded shadow-sm mb-3 d-flex">
        <div class="input-group flex-grow-1 p-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="dniFilter" placeholder="Buscar alumnos por dni..." aria-describedby="basic-addon1" (keyup.enter)="buscar()">
        </div>
        <div class="input-group">
            <select [(ngModel)]="selectedGroup" class="form-select mt-3 mb-3" (change)="buscar()">
                <option value="">Todos los grupos</option>
                @for (grupo of grupos; track $index) {
                    <option [value]="grupo.nombregrupo">{{ grupo.nombregrupo }}</option>
                }
            </select>
            <select [(ngModel)]="activo" class="form-select mt-3 mb-3 me-3" (change)="buscar()">
                <option [value]="-1">Todos los alumnos</option>
                <option [value]="0">Activos</option>
                <option [value]="1">Inactivos</option>
            </select>
        </div>
    </div>

    <div class="table-responsive border rounded border-secundary p-4 shadow-sm">
        <table class="table table-hover caption-top align-middle">
            <caption class="titulo-tabla"><h4>Lista de grupos</h4></caption>
            <thead class="table-header">
                <tr>
                    <td>DNI</td>
                    <td>Nombre</td>
                    <td>Telefono</td>
                    <td>Fecha de Alta</td>
                    <td>Activo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody class="table-body">
                @for (alumno of alumnosFiltro; track $index) {
                    <tr>
                        <td>{{ alumno.dni }}</td>
                        <td>{{ alumno.apellido1 + ' ' + alumno.apellido2 + ', ' + alumno.nombre }}</td>
                        <td>{{ alumno.telefono1 }}</td>
                        <td>{{ alumno.fechaalta | date:'dd/MM/yyyy'}}</td>
                        <td><i [class]="'bi bi-' + ((alumno.activo)? 'check-circle' : 'slash-circle')"></i></td>
                        <td>
                            <button class="button btn-editar me-2" (click)="editarAlumno(alumno)"><i class="bi bi-pencil-square"></i></button>
                            @if (alumno.activo) {
                                <button class="button" (click)="bajaAlumno(alumno)">baja</button>
                            } @else {
                                <button class="button" (click)="altaAlumno(alumno)">alta</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

