<div class="container-lg mb-4 mt-3">
    <div class="mb-3 align-items-center ms-1 d-flex justify-content-between">
        <h1>Gestion de Recibos</h1>
        <button class="btn btn-secondary" (click)="nuevoRecibo()">+ Añadir Recibos</button>
    </div>

    <div class="d-flex gap-4 justify-content-center mb-3">
        <div class="border border-secundary rounded shadow-sm p-4 d-flex align-items-center flex-fill">
            <div class="flex-shrink-0">
                <i class="bi bi-receipt fs-3"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <span class="mb-0 text-muted">Total recibos</span><br>
                <span class="fw-bold">{{ totalRecibos }} €</span>
            </div>
        </div>
        <div class="border border-secundary rounded shadow-sm p-4 d-flex align-items-center flex-fill">
            <div class="flex-shrink-0">
                <i class="bi bi-check2-circle fs-3"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <span class="mb-0 text-muted">Recibos pagados</span><br>
                <span class="fw-bold">{{ recibosPagados }} €</span>
            </div>
        </div>
        <div class="border border-secundary rounded shadow-sm p-4 d-flex align-items-center flex-fill">
            <div class="flex-shrink-0">
                <i class="bi bi-clock fs-3"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <span class="mb-0 text-muted">Recibos pendientes</span><br>
                <span class="fw-bold">{{ recibosPendientes }} €</span>
            </div>
        </div>
    </div>

    <div class="table-responsive border rounded border-secundary p-4 shadow-sm">
        <table class="table table-hover caption-top align-middle text-center">
            <caption class="titulo-tabla"><h4>Lista de grupos</h4></caption>
            <thead class="table-header">
                <tr>
                    <td>Número Recibo</td>
                    <td>Fecha Recibo</td>
                    <td>Importe</td>
                    <td>Estado</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody class="table-body">
                @for (recibo of recibos; track $index) {
                    <tr>
                        <td>{{recibo.numerorecibo}}</td>
                        <td>{{recibo.fecharecibo | date:'dd/MM/yyyy' }}</td>
                        <td>{{recibo.cantidad}} €</td>
                        <td>
                            @if (recibo.pagado) {
                                <span class="badge bg-success-subtle text-success badge-pill">Pagado</span>
                            } @else {
                                <span class="badge bg-warning-subtle text-warning badge-pill">Pendiente</span>
                            }
                        </td>
                        <td>
                            <div class="">
                                <button type="button" class="button btn-eliminar me-2" (click)="eliminarRecibo(recibo)"><i class="bi bi-trash3"></i></button>
                                @if (!recibo.pagado) {<button type="button" class="button btn-pagar me-2" (click)="pagarRecibo(recibo)"><i class="bi bi-check2-circle"></i></button>}
                                <button type="button" class="button btn-imprimir" (click)="imprimirRecibo(recibo)"><i class="bi bi-printer"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- PDF generado -->
<div #reciboPrint style="position: absolute; top: -9999px; left: -9999;">
  <app-print-recibos [recibo]="reciboSeleccionado"></app-print-recibos>
</div>
