<div class="container-lg mb-4 mt-3">
    <div class="mb-3 align-items-center ms-1 d-flex justify-content-between">
        <h1>Gestion de Gastos</h1>
        <button class="btn btn-secondary" (click)="nuevoGasto()">+ Añadir Gasto</button>
    </div>

    <div class="card p-4 mb-4 shadow-sm">
        <h5><i class="bi bi-clock-history me-2"></i>Gastos por Trimestres</h5>
        <div class="mt-3">
            @for (tramo of trimestre; track $index) {
            <div class="d-flex justify-content-between mb-2">
                <span class="badge-custom">{{ tramo.nombre }}</span>
                <strong>{{ tramo.total | currency:'EUR' }} ({{ tramo.porcentaje | number:'1.1-1' }}%)</strong>
            </div>
            <div class="progress mb-3" style="height: 10px;">
                <div class="progress-bar {{ tramo.color }}" role="progressbar" [style.width.%]="tramo.porcentaje"></div>
            </div>
            }
        </div>
    </div>

    <div class="table-responsive border rounded border-secundary p-4 shadow-sm">
        <table class="table table-hover caption-top align-middle">
            <caption class="titulo-tabla"><h4>Lista de grupos</h4></caption>
            <thead class="table-header">
                <tr>
                    <td>Fecha gasto</td>
                    <td>Descripcion</td>
                    <td class="text-center">Importe</td>
                </tr>
            </thead>
            <tbody class="table-body">
                @for (gasto of gastos; track $index) {
                    <tr>
                        <td>{{gasto.fechagasto | date:'dd/MM/yyyy' }}</td>
                        <td>{{gasto.descripcion}}</td>
                        <td class="text-center">{{gasto.cantidadgasto}} €</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

