.badge-custom {
  background-color: rgba(203, 203, 203, 0.5);
  color: rgb(95, 95, 95);
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.badge-custom:hover {
  background-color: rgba(203, 203, 203, 1);
}

/** Boton grid */
.switch {
  background: linear-gradient(to right, rgb(243 244 246), rgb(229 231 235));
  border: 1px solid rgb(209 213 219 / 0.5);
  border-radius: 10px;
  padding: 6px 6px;

  display: flex;
  gap: 6px;

  position: relative;
  overflow: hidden;
}

.btn-switch {
  border: none;
  background-color: transparent;
  color: rgb(109, 109, 109);
  padding: 2px 6px;
  z-index: 2;
}

.active {
  color: white;
  border-radius: 6px;
}

.slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  background-color: green;
  border-radius: 8px;
  transition: left 0.3s ease;
  z-index: 1;
}

.slider.right {
  left: calc(50% + 4px);
}

.page-link {
  cursor: pointer;
  color: rgb(95, 95, 95);
}

.page-link:hover {
  background-color: rgb(196, 195, 195);
}

.mesesAnima {
  
}

@keyframes expand {
  from {
    height: 240px;
  } to {
    height: 300px;
  }
}

.cargando {
  animation: girar 1s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}