<div class="fluid-container fullscreen-bg d-flex justify-content-center align-items-center" 
  style="background-image: url('assets/imagen_login.jpg');">
  
  <app-alerta #alerta></app-alerta>

  <div class="border border-dark rounded rounded-4 p-4 form-group text-white text-center d-flex flex-column align-items-center" 
    style="background-color: rgba(0, 0, 0, 0.7);">
    <h2>Inicio de sesión</h2>
    <div class="input-group mb-1 flex-nowrap p-4 me-3 ms-3 custom-input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-envelope-fill"></i>
      </span>
      <input type="text" class="form-control text-white" placeholder="Nombre de usuario" [(ngModel)]="usuario.username" aria-label="Username" aria-describedby="basic-addon1" (keyup.enter)="login()">
    </div>
    <div class="input-group mb-1 flex-nowrap p-4 me-4 ms-4 custom-input-group">
      <span class="input-group-text" id="basic-addon2">
        <i class="bi bi-lock-fill"></i>
      </span>
      <input type="password" class="form-control text-white" placeholder="Contraseña" [(ngModel)]="usuario.password" aria-label="password" aria-describedby="basic-addon2" (keyup.enter)="login()">
    </div>
    <button class="btn-login" (click)="login()">Acceso</button>
  </div>

</div>
