<div class="fluid-container mb-4" style="min-height: 1000px;">
  <!-- Carousel Bootstrap normal -->
  <div id="demo" #demo class="carousel slide table-responsive mb-4 border border-dark" data-bs-ride="carousel">

    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
      ></button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner">
      @for (slide of slides; track $index) {
        <div class="carousel-item" [ngClass]=" { 'active' : $index == 0 } ">
          <img
            [src]="slide.image"
            class="d-block w-100"
          />
          <div class="overlay"></div>
          <div class="carousel-caption d-flex flex-column align-items-start justify-content-center">
            <p class="title">{{slide.titulo}}</p>
            <p class="content">{{slide.descripcion}}</p>
          </div>
        </div>
      }
    </div>

    <!-- Controles -->
    <div class="control">
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
    </div>
    <div class="control">
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
    
  </div>

  <div class="container mt-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="badge-panel mb-4 mt-4">Panel de control</div>

      <h1 class="titulo mb-3">Bienvenido de vuelta</h1>
      <p class="text-muted text-center contenido">Centro de control para gestionar la escuela donde se pueden supervisar las actividades realizadas.</p>
    </div>

    <div class="table-responsive d-flex flex-column justify-content-center align-items-center mb-3 p-4">
        <div class="d-flex gap-4">
          <a class="tooltips d-flex align-items-center flex-fill" routerLink="/home/alumnos">
              <div class="flex-shrink-0">
                  <i class="bi bi-person-badge fs-3 icon" style="background-color: rgb(64, 64, 245);"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                  <span class="title">Gestion de alumnos</span><br>
                  <span class="mb-0 text-muted">Total alumnos</span><br>
                  <span class="fw-bold">{{ totalAlumnos }}</span>
              </div>
              <div class="icono-hover">
                <i class="bi bi-arrow-right fs-2"></i>
              </div>
          </a>
          <a class="tooltips d-flex align-items-center flex-fill" routerLink="/home/grupos">
              <div class="flex-shrink-0">
                  <i class="bi bi-check2-circle fs-3 icon" style="background-color: rgb(163, 10, 234);"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                  <span class="title">Gestion de grupos</span><br>
                  <span class="mb-0 text-muted">Grupos activos</span><br>
                  <span class="fw-bold">{{ gruposActivos }}</span>
              </div>
              <div class="icono-hover">
                <i class="bi bi-arrow-right fs-2"></i>
              </div>
          </a>
        </div>

        <div class="mt-4 d-flex gap-4">
          <a class="tooltips d-flex align-items-center flex-fill" routerLink="/home/recibos">
              <div class="flex-shrink-0">
                  <i class="bi bi-check2-circle fs-3 icon" style="background-color: rgb(0, 161, 129);"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                  <span class="title">Gestion de recibos</span><br>
                  <span class="mb-0 text-muted">Total recibos pagados</span><br>
                  <span class="fw-bold">{{ recibosPagados }} €</span>
              </div>
              <div class="icono-hover">
                <i class="bi bi-arrow-right fs-2"></i>
              </div>
          </a>
          <a class="tooltips d-flex align-items-center flex-fill" routerLink="/home/gastos">
              <div class="flex-shrink-0">
                  <i class="bi bi-clock fs-3 icon" style="background-color: rgb(205, 205, 3);"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                  <span class="title">Gestion de gastos</span><br>
                  <span class="mb-0 text-muted">Gastos del mes</span><br>
                  <span class="fw-bold">{{ totalGastos }} €</span>
              </div>
              <div class="icono-hover">
                <i class="bi bi-arrow-right fs-2"></i>
              </div>
          </a>
        </div>
    </div>
    
  </div>

</div>
