/** Estilado general */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 6rem auto 7rem;
}

/** Estilado alerta */
.alerta {
  z-index: 1055;
  min-width: 300px;
  max-width: 90%;
}

/** Estilado de tablas */
.table-header td  {
  color: grey;
  font-weight: bold;
}

.table-body tr:last-child  {
  border-bottom: white;
}

.titulo-tabla {
  color: black;
}

.table td:last-child {
  text-align: center;
}

/** Estilado de botones */
.button {
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.btn-editar {
  border: 1px solid #c9d7cd;
  color: #4e6c5d;
  background-color: #f9fcfa;
  
}
.btn-editar:hover {
  background-color: #e8f2ec;
}

.btn-eliminar {
  border: 1px solid #f2c2c2;
  color: #d33c3c;
  background-color: #fcf7f7;
}
.btn-eliminar:hover {
  background-color: #fce5e5;
}

.btn-pagar {
  border: 1px solid #dbf2c2;
  color: #87d33c;
  background-color: #fbfcf7;
}
.btn-pagar:hover {
  background-color: #f9fee4;
}

.btn-imprimir {
  border: 1px solid #c2eaf2;
  color: #3cc4d3;
  background-color: #f7fafc;
}
.btn-imprimir:hover {
  background-color: #e4f4fe;
}

.btn-baja {
  border: 1px solid #f5c2c7;
  color: #dc3545;
  background-color: #f8d7da;
}
.btn-baja:hover {
  background-color: #f1b0b7;
}

.btn-alta {
  border: 1px solid #badbcc;
  color: #198754;
  background-color: #d1e7dd;
}
.btn-alta:hover {
  background-color: #b0d9cc;
}


.btn-login {
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
  margin: 1rem auto 1rem auto;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.btn-login:hover {
  background-color: rgb(196, 196, 196);
}

.btn-perfil {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
}

.btn-perfil:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-logout {
  color: black;
}

.btn-logout:hover {
  background-color: rgb(240, 238, 238);
}

.btn-navbar {
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-navbar:hover {
  background-color: rgba(255, 255, 255, 0.4);
}